@font-face {
    font-family: 'Beaufort for LOL - Heavy Italic';
    src: url('../assets/fonts/beaufort-for-lol/BeaufortforLOL-HeavyItalic.ttf') format('woff2');
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Beaufort for LOL - BoldItalic';
    src: url('../assets/fonts/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf') format('woff2');
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Spiegel Regular';
    src: url('../assets/fonts/Spiegel\ Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*****************************/
/*****************************/
/*  STAPLE ELEMENTS SECTION  */
/*****************************/
/*****************************/

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Space between header and icons */
} 

body {
    font-family: 'Spiegel Regular', sans-serif;
    background-color: #161F32;
    color: #FFFFFF;
    padding: 60px;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #111;
    z-index: 1000; /* Ensures it's above other content */
}

nav ul {
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 14px;
}

h1 {
    font-family: 'Beaufort for LOL - Heavy Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Beaufort for LOL - BoldItalic', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 22px;
    color: #C8AA67;
}

/*****************************/
/*****************************/
/*    HERO BANNER SECTION    */
/*****************************/
/*****************************/

#champion-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    overflow: hidden;
    margin: 0 auto;
}

#hero-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh; /* Full screen height */
    max-height: 800px;
    object-fit: cover;
    object-position: top center; /* Focuses more on the upper part instead of the center */
}

#champion-text-container {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 20px 50px;
    box-sizing: border-box;
    line-height: 1.2;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.3);

    /* Softer blurred glow effect around the box */
    box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.3);
    
    border-radius: 10px;
}

#title, #bio, #classifications {
    margin: 0;
    padding: 5px 0;
}

/*****************************/
/*****************************/
/* ABILITY SPOTLIGHT SECTION */
/*****************************/
/*****************************/

.name-banner {
    font-family: 'Spiegel Regular', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

#icon-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#abilities-preview {
    background-color: #0A1428;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

#abilities-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#abilities-buttons-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
}

#ability-video {
    border: 2px solid #C8AA6E;
    padding: 20px;
    width: 70%;
    margin: 50px;
}

#ability-spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ability-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.ability-wrapper h5 {
    font-family: 'Spiegel Regular', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}

.spotlight-wrapper {
    text-align: center;
    max-width: 70%; /* Prevents it from being wider than the video */
    word-wrap: break-word;
}

.spotlight-wrapper h3 {
    font-family: 'Beaufort for LOL - BoldItalic', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #F9F9F9;
}

.spotlight-wrapper h4 {
    font-family: 'Spiegel Regular', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #879999;
}

.spotlight-wrapper h3,
.spotlight-wrapper h4,
.spotlight-wrapper p {
    max-width: 100%; /* Ensures text does not exceed container */
}

.icon img {
    width: 50px;
    height: 50px;
}

/*****************************/
/*****************************/
/*   MEDIA QUERIES SECTION   */
/*****************************/
/*****************************/
/* Media query for smaller screens */
@media (max-width: 1920px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    #champion-banner {
        max-width: 100%;
    }
}
