@font-face {
    font-family: 'Beaufort for LOL - Heavy Italic';
    src: url('../assets/fonts/beaufort-for-lol/BeaufortforLOL-HeavyItalic.ttf') format('woff2');
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Beaufort for LOL - BoldItalic';
    src: url('../assets/fonts/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf') format('woff2');
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Spiegel Regular';
    src: url('../assets/fonts/Spiegel\ Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Space between header and icons */
}

nav {
    text-transform: uppercase;
    font-family: 'Spiegel Regular', sans-serif;
}

nav ul {
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 14px;
}

body {
    font-family: 'Spiegel Regular', sans-serif;
    background-color: #0A1428;
    color: #FFFFFF;
    padding: 60px;
}


.icon img {
    width: 50px;
    height: 50px;
}

#champion-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-image {
    display: none;
}

#title, #bio, #classifications {
    position: relative;
    z-index: 2;
}

#abilities-preview {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#icon-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#abilities-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#abilities-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ability-video {
    border: 2px solid #C8AA6E;
    padding: 20px;
    width: 70%;
    margin: 50px;
}

h1 {
    font-family: 'Beaufort for LOL - Heavy Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Beaufort for LOL - BoldItalic', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 22px;
    color: #C8AA67;
}

.name-banner {
    font-family: 'Spiegel Regular', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.ability-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.ability-wrapper h5 {
    font-family: 'Spiegel Regular', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
}